@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}

body {
    background-image: url("./img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 20em;
}

.title {
    color: #a85958;
    font-weight: bold;
}

.container {
    text-align: center;
    margin-bottom: 25px;
}

div {
    margin-top: 50px;
    margin-bottom: 50px;
}

/*BARRA DE NAVEGACIÓN*/

.navbar-section {
    margin-bottom: 25px;
    padding: 15px;
    background-color: #1a1a1a;
    background-size: 100%;
    opacity: .90;
}

.navbar {
    margin-left: 15px;
    margin-right: 15px;
    color: #a85958;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
    text-shadow: white;
}

/*NOMBRE Y ENCABEZADO*/

.name a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.name a:hover {
    color: white;
    text-shadow: white;
}

/*LINEAS DE SEPARACIÓN*/

.separation {
    visibility: hidden;
}

/*TÍTULOS*/

.title-section {
    font-size: 50px;
    color: #a85958;
}

/*IMÁGENES*/

img {
    border: 5px solid #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #1a1a1a;
    opacity: .90;
}

/*STACK Y CONTACTO*/

.stack {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*EDICIÓN DE APARTADO PROYECTOS*/

.prj-section a {
    text-decoration: none;
}

.prj-section a:hover {
    color: white;
    text-shadow: white;
}

.name {
    font-size: 50px;
}

/*FORMULARIO DE CONTACTO*/

form {
    width: auto;
}

label {
    display: inline-block;
    width: 250px;
    text-align: center;
    color: #a85958;
    font-weight: bold;
}

input,
textarea {
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    color: #1a1a1a;
    opacity: .60;
}

button {
    color: #1a1a1a;
    font-weight: bold;
    font-size: 20px;
    opacity: .60;
}

/*FOOTER*/

footer {
    background-color: #1a1a1a;
    padding: 5px;
    margin: auto;
    overflow: hidden;
    opacity: .90;
}

.foot {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding: 50px;
    border-bottom: 1px solid #a85958;
}

@media screen and (max-width:900px) {
    header {
        background-position: center;
    }

    .foot {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .name-footer {
        text-align: center;
        justify-content: center;
    }

    img {
        height: 144px;
    }

    .title-section {
        font-size: 50px;
    }

    .title {
        font-size: 25px;
    }

    form {
        width: auto;
    }
}

@media screen and (max-width:500px) {
    nav {
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav a {
        margin-right: 5px;
    }

    * {
        font-size: 15px;
    }

    .title-section {
        font-size: 40px;
    }

    .title {
        font-size: 25px;
    }

    .name {
        font-size: 20px;
    }

    .name-footer {
        text-align: center;
        justify-content: center;
    }

    img {
        height: 144px;
    }

    form {
        text-align: center;
        justify-content: center;
        width: auto;
    }
}